<div class="cards">
  <ion-card>
    <ion-card-header>
      <ion-card-title>KELİME</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-icon name="alert-circle-outline"></ion-icon>
        <ion-label>Yasak</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="alert-circle-outline"></ion-icon>
        <ion-label>Yasak</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="alert-circle-outline"></ion-icon>
        <ion-label>Yasak</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="alert-circle-outline"></ion-icon>
        <ion-label>Yasak</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</div>
