@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

ion-content {
  --ion-background-color: #011627;
  --ion-width: 100%;
  --ion-height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.icon {
  font-size: 100px;
  margin-top: 15vh;
}

.btn-start,
.btn-settings {
  margin-top: 3vh;
  --border-radius: 10px !important;
  height: 6vh !important;
  width: 65vw !important;
}

.bg-black {
  --ion-background-color: black;
  opacity: 1;
}

ion-modal {
  opacity: 0.8;
}

@keyframes fadein {
  from {
    filter: blur(0rem);
  }
  to {
    filter: blur(1.5rem);
  }
}

.blur {
  animation-name: fadein;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-modal {
  margin-top:5vh;
  color: #FFFFFF;
}

.content-modal h1 {
  font-size: 35px;;
}

.start-button {
  border: 2px solid #FFFFFF;
  flex-direction: row;
  font-size: 30px;
  border-radius: 25px;
  width: 50vw;
  height: 8vh;

}


