@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

ion-content{
  --ion-background-color:#011627;
  --ion-width: 100%;
  --ion-height: 100%;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
 .icon {
    font-size: 100px;
    margin-top: 15vh;
 }


 .btn-start, .btn-settings {
  margin-top: 3vh;
  --border-radius: 10px!important;
  height: 6vh!important;
  width: 65vw!important;
 }
